.page-break {
  break-before: page;
  border-top: 1px dashed gray;
  @media print {
    border-top: none;
  }
}

.print-button {
  float: right;
}

@media print {
  .hide-for-print {
    display: none;
  }
}
