body {
  font-size: 11pt;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-break {
  break-before: page;
  border-top: 1px dashed gray;
  @media print {
    border-top: none;
  }
}

.print-button {
  display: flex;
  justify-content: center;
  height: 2rem;
  margin-top: 2rem;
}

@media print {
  .print--hide {
    display: none;
  }
  .print--as-text {
    text-decoration: none;
    color: #111;
  }
}
